* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(177, 164, 214);

}
.container {
    display: flex;
    flex-direction: column;
    width: 300px; 
    padding: 5px;
    margin: 5px;
}
.container > * {
    padding: 5px;
    margin: 5px;
}
.button {
    height: 75px;
    background-color: rgb(38, 49, 49);
    color: aliceblue;
    border-radius:15px;
    cursor: pointer;
    margin: 5px;
    width: 25%;
}
.input {
    align-self: center;
    border: 2px solid black;
    width: 200px;
    height: 50px;
    background-color: ghostwhite;
}
.container > span {
    background-color: coral;
    border: ridge 3px black;
    border-radius: 7px;
}
.error {
    color: rgb(85, 7, 7);
    font-size: larger;
}